.connect {
	background: $off-white-color;
	position: relative;
	width: 100%;
	padding: 0;
	height: auto;
	margin: 0 auto;	
	margin-top: 15em;
	min-height: 600px;

	img {
		width: 150px;
		height: auto;
		position: relative;
		left: 50%;
		margin-left: -75px;
		padding: 25px;
	}

	.connect-text {
		font: {
			size: 1.2em;
			weight: 300;
		}
		color: $black;
		text-align: center;
		width: 75%;
		margin: 0 auto;
		padding: 2%;

		a {
			color: $off-white-color;
			padding: 0 5px;
		}
	}

	@include MQ(M) {
			.connect-text {
				padding: 5%;
			}
			
	}

	@include MQ(L) {
			.connect-text {
				padding: 5%;
			}
	}

	.connect-div {
		width: 90%;
		position: relative;
		margin-left: 5%;
		display: inline;


		.connection {
			margin: 0.2em 0;
			width: 100%;
			border: 3px solid $black;

			&:hover {
				background: $black;
			}

			a {
				color: $primary-color;

				&:hover {
					color: $off-white-color;
				}

			.projects-img {
				padding: 1em 3em;
			}

			.connection-description {				position: relative;
				display: block;
				width: 80%;
				margin: 0 auto;
				text-align: center;
				font-weight: 300;
			}		
		}
	}

		@include MQ(M) {
			.connection {
				width: 30%;
				display: inline-block;
			}
		}


		@include MQ(L) {
			.connection {
				width: 30%;
				display: inline-block;
			}
		}
	}
}

