// colors 
$primary-color: #CE4B07; //orange
$secondary-color: #ACC956; //codecatz green
$terciar-color: #270F04; //codecatz brown
$off-white-color: #EEF2F3;
$black: #000000;
$green: #42c1bd;
$purple: #814efa;
$gray: #c3c6c8;

// fonts 
$body-font: 'Open Sans', sans-serif;
$title-font: 'Lato', sans-serif;
$italic: 'Playfair display', sans-serif;

//header height
$header-height-S: 60px;
$header-height-M: 100px;

// z-index 
$content-zindex: 1;
$nav-zindex: 2;
$header-zindex: 3;